.container{
  display:flex;
  flex-direction: column;
  height: 100vh;
  gap: 32px;
  padding: 16px;
  padding-top: 128px;
}

.greeting{
  display: flex;
  flex-direction: column;
  align-items:center;
}

.form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  border-radius: 5px;
  box-shadow: 0 0 32px #ccc;
  padding: 40px 16px;
}

.form > label {
  display:flex;
  flex-direction:column;
}

.form > label > input {
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  padding-left: 8px;
}

.hello, .welcome{
  font-size: 2rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.error{
  color: red;
  font-size: 0.8rem;
  font-style: italic;
  margin: 0 auto;
}

.login{
  background-color: #242424;
  border-radius: 16px;
  height: 70px;
  font-size: 1.2rem;
  color: white;
  font-family: "Poppins", sans-serif;
  margin-top: 24px;
}

.signup{
  margin: 0 auto;
}

.signup > a {
  text-decoration: none;
  color: #242424;
  transition: 300;
}