<div class="main">
  <div class="navbar">
    <span>Search</span>
    <span>Make Home Beautiful</span>
    <app-go-to-cart></app-go-to-cart>
  </div>
  <button [routerLink]="['/favorite']">Go to your favorites</button>

  <div class="carousel">
    @for (type of types; track type) {
    <button [type]="type" (click)="handleClick(type)">{{ type }}</button>
    }
  </div>
  <div class="product-grid">
    @if (chosenType === 'Popular') { @for (product of products; track product) {
    <div class="product-card">
      <a [routerLink]="['/product', product.product_id]">
        <app-product-card [product]="product"></app-product-card
      ></a>
    </div>
    }} @for (product of products; track product) { @if (product.type ===
    chosenType){
    <div class="product-card">
      <a [routerLink]="['/product', product.product_id]">
        <app-product-card [product]="product"></app-product-card
      ></a>
    </div>
    }}
  </div>
</div>
